events {
    worker_connections 1024;
}

http {
    server {
        listen 80;
        listen [::]:80;

        root /var/www/wordpress;
    	index index.php;

    	server_name {{dns_name}};

    	location / {
		proxy_set_header Host $host;
                proxy_set_header X-Real-IP $remote_addr;
                proxy_set_header X-Forwarded-For $remote_addr;
        	try_files $uri $uri/ /index.php$is_args$args;
    	}

    	location ~ \.php$ {
       		include fastcgi_params;
       		fastcgi_index index.php;
       		fastcgi_pass unix:/var/run/php-fpm/www.sock;
       		fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
    	}

    	location ~ /\.ht {
       		deny all;
    	}
    }	
}
