<VirtualHost 127.0.0.1:8080>
        # ServerName foobar.net
        # ServerAlias www.foobar.net
        ServerAdmin webmaster@localhost
        DocumentRoot /var/www/rokhman.ru
        ErrorLog ${APACHE_LOG_DIR}/rokhman.ru-error.log
        CustomLog ${APACHE_LOG_DIR}/rokhman.ru-access.log combined
</VirtualHost>
